body {
    width: 100vw;
    height: 100vh;
    background: white;
    background-size: cover;
  }

  .email {

    width: 100vw;
    height: 100vh;
    background: white;
    background-size: cover;
  }

  *, *:before, *:after {
    box-sizing: border-box;
  }

  .emailform {
    width: 300px;
    padding: 50px;
    margin: 20px;
    border:2px;
    box-shadow: 3px;
    border: radius 20deg;
    font: 100;
  }