$ruler: 12px;
$color-bg: #ebecf00c;
$color-shadow: #6a6a6d76;
$color-white: #ffffffb4;


body{
  background-image: url(../../public/images/cloth2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

body, html {
  background-color:$color-bg;
}

body, p, input, select, textarea, button {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: clamp(1.2rem, 4vw, 1.5rem);
}

//H1 Image logo Bite



.container-nav {
  width: 10px;
  height: 10px;
  margin: 20px; 
}


.bar {
  background-color: #e2e2e2;
  background-image: url("../../public/images/fork1.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: 27px -50px;
 
}

.image-logo {
 height: 50px;
 width: 200px;
}

//////Fort Lauderdale Font
.p-font {
  color: black;
  font-size: 9px;
}

//Dropdown button
 .btn {
  border-radius: 10px;
}


footer {
  background-color: dark grey;
}

.navbar-nav {
  background-color: #9e9e9e3b;
  background-size: cover;
  
}


////Add Form



div, p {
  color: black;
  text-shadow: 1px 1px 1px $color-white;
}


form {
  padding: $ruler;
  width: $ruler*20;
  margin: 0 auto;
}

.segment {
  padding: $ruler*2 0;
  text-align: center;
}

button, input {
  border: 0;
  outline: 0;
  font-size: $ruler;
  border-radius: $ruler*20;
  padding: $ruler;
  background-color:$color-bg;
  text-shadow: 1px 1px 0 $color-white;
  margin: 20px;
}

label {
  display: block;
  margin-bottom: $ruler*1.5;
  width: 100%;
}

input {
  margin-right: $ruler/2;
  box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;

  &:focus {
    box-shadow:  inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
}

button {
  color:#61677C;
  font-weight: bold;
  box-shadow: -5px -5px 20px $color-white,  5px 5px 20px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  margin: 10px;
  

  
  &:hover {
    box-shadow: -2px -2px 5px $color-white, 2px 2px 5px $color-shadow;
  }
  
  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }
  
  .icon {
    margin-right: $ruler/2;
  }
  
  &.unit {
    border-radius: $ruler/2;
    line-height: 0;
    width: $ruler*3;
    height: $ruler*3;
    display:inline-flex;
    justify-content: center;
    align-items:center;
    margin: 0 $ruler/2;
    font-size: $ruler*1.2;
    margin: 20px 20px;
  
    
    .icon {
      margin-right: 0; 
    }
  }
  

}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 20px;

  
  label {
    margin: 0;
    flex: 1;
  }
}
